html {
    --color-osd-bg: rgba(0,0,0,0.3);
    --color-bg: #242424;
    --color-tile-bg: #383838;
    --color-tile-bg-hover: #414141;
    --color-tile-border: rgba(256,256,256,0.15);
    --color-button-bg: rgba(256, 256, 256, 0.15);
    --color-button-pressed-bg: rgba(256, 256, 256, 0.30);
    --color-button-border: rgba(256,256,256,0);
    --color-button-solid-border: rgba(256, 256, 256, 0.15);
    --color-separator: rgba(256, 256, 256, 0.36);
    --color-highlight: #3584e4;
    --color-link: #78aeed;
    --color-link-highlight: #99c1f1;
    --color-text-muted: #c0bfbc;
    --color-text-light: #deddda;
    --color-text-semilight: #f6f5f4;
    --color-text: #ffffff;
    --color-shadow: #1b1b1b;
    --color-darkener: #00000056;
}

html.highcontrast {
    --color-tile-border: rgba(256,256,256,0.5);
    --color-button-border: rgba(256,256,256,0.5);
    --color-button-solid-border: rgba(256, 256, 256, 0.5);
    --color-separator: rgba(256,256,256,0.5);
}

.icon {
    filter: invert(1.0);
}
