html {
    --color-osd-bg: rgba(0,0,0,0.3);
    --color-bg: #fafafa;
    --color-tile-bg: #ffffff;
    --color-tile-bg-hover: #f6f5f4;
    --color-tile-border: rgba(0,0,0,0.15);
    --color-button-bg: rgba(0, 0, 0, 0.15);
    --color-button-pressed-bg: rgba(0, 0, 0, 0.30);
    --color-button-border: rgba(0,0,0,0);
    --color-button-solid-border: rgba(0, 0, 0, 0.15);
    --color-separator: rgba(0, 0, 0, 0.07);
    --color-highlight: #3584e4;
    --color-link: #1c71d8;
    --color-link-highlight: #1a5fb4;
    --color-text-muted: #5e5c64;
    --color-text-light: #3d3846;
    --color-text-semilight: #241f31;
    --color-text: rgba(0, 0, 0, 0.8);
    --color-shadow: #bfb8b1;
    --color-darkener: #00000056;
}

html.highcontrast {
    --color-tile-border: rgba(0,0,0,0.5);
    --color-button-border: rgba(0,0,0,0.5);
    --color-button-solid-border: rgba(0,0,0,0.5);
    --color-separator: rgba(0,0,0,0.5);
}
