body {
    margin: 0;
    padding: 6px;
}

article {
    display: flex;
    flex-direction: column;
}

header {
    padding: 18px;
    background: var(--color-bg);
}

.title {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row;
}

.post-info {
    flex: 2
}

.title a {
    color: var(--color-text-muted);
    text-decoration: none;

    align-self: start;
    margin: 6px;
    font-size: 20pt;
    font-weight: 700;
}

.title a:hover {
    color: var(--color-text-semilight);
}

.posted {
    margin: 6px;
}

.content {
    padding: 18px;
    max-width: 80em;
    width: 100%;
    align-self: center;
}

footer {
    max-width: 80em;
    align-self: center;
}
