html {
    --card-radius: 6px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: "Cantarell";
    font-weight: 400;
    font-size: 11pt;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-highlight);
}

.posted {
    color: var(--color-text-muted);
}

.content {
    overflow: hidden;
}

footer h3 {
    margin-bottom: 0;
}
footer section {
    margin-bottom: 12px;
}

.attachment-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 18px;
}

.attachment {
    padding: 12px;
    margin: 12px 0px;
    background: var(--color-tile-bg);
    border: 1px solid var(--color-tile-border);
    border-radius: var(--card-radius);
    box-shadow: 0 1px 1px var(--color-shadow);
}

.attachment>.title {
    font-weight: bold;
    margin-bottom: 0.5em;
    justify-content: flex-start;
    gap: 6px;
}
.attachment>.metadata {
    color: var(--color-text-muted);
}
.attachment>audio {
    width: 50em;
}
.singularity-frame {
    border: 1px solid var(--color-tile-border);
    /* box-shadow: 0 1px 1px var(--color-shadow); */
}
.singularity-attachment-embed {
    /* Try to avoid making attachments too huge */
    max-width: 100%;
    max-height: 30em;
}
.button-box {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-self: start;
    flex-flow: row;
}
.read-button,.star,.download-button {
    align-self: flex-start;
    float: left;

    margin: 3px;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-button-border);
    border-radius: 6px;
    transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.read-button:hover,.star:hover,.download-button:hover {
    background-color: var(--color-button-bg);
}
.read-button:active,.star:active,.download-button:active {
    background-color: var(--color-button-pressed-bg);
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    min-width: 16px;
    min-height: 16px;
}

.star>.icon {
    background-image: var(--star-empty);
    height: 36px;
}
.singularity-article[data-starred="true"] .star>.icon {
    background-image: var(--star-filled);
}

.read-button>.icon {
    background-image: var(--read);
    height: 36px;
}
.singularity-article[data-read="false"] .read-button>.icon {
    background-image: var(--unread);
}

.download-buttons {
    justify-content: flex-start;
    gap: 6px;
    margin-top: 12px;
}
.download-button {
    font-weight: bold;
    margin: 0;
    padding: 5px;
    width: unset;
    height: unset;
    align-content: center;
    color: var(--color-text);
    border-color: var(--color-button-solid-border);
}
.filesize {
    align-content: center;
    color: var(--color-text-muted);
}

hr {
    border-style: none;
    border-top: 1px solid var(--color-separator);
}

iframe {
    border: none;
    width: 100%;
    overflow-y: hidden;overflow-x: scroll;
}
