body {
    color: var(--color-text);
    font-family: "Cantarell";
    font-weight: 400;
    font-size: 11pt;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-highlight);
}

hr {
    border-style: none;
    border-top: 1px solid var(--color-separator);
}
