body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singularity-article {
    padding: 6px;
    margin: 12px;
    background: var(--color-tile-bg);
    border-top: 3px solid var(--color-tile-border);
    border-radius: var(--card-radius);
    max-width: 80em;
    width: 100%;
}

.singularity-article[data-read="false"] {
    border-top: 3px solid var(--color-highlight);
}

.title {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row;
}

.title a {
    color: var(--color-text-muted);
    text-decoration: none;

    align-self: start;
    margin: 6px;
    font-size: 20pt;
    font-weight: 700;
}

.title a:hover {
    color: var(--color-text-semilight);
}

hr {
    margin: 3px -6px 3px -6px;
}

.attachment {
    background: var(--color-bg);
    box-shadow: none;
}
