.unread-count {
    padding: 3px 6px;
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border-radius: 6px;
}
.unread-item {
    color: @accent_bg_color; /* Not an error--the BG color is typially used since the non-column views display status with a margin */
}
.bookmarked-item {
    color: @warning_bg_color; /* Not an error--the BG color is typially used since the non-column views display status with a margin */
}
.secondary-column {
    color: @secondary_sidebar_fg_color;
    background-color: @secondary_sidebar_bg_color;
}

/* Ensure the actionbar in headers is as tall as the headerbar */
headerpanel>actionbar {
    min-height: 47px;
}

/* Also make the background transparent */
headerpanel>actionbar box {
    background: none;
}

/* Same thing as above, but for the headerbar */
headerpanel:not(.view) headerbar {
    background: none;
    box-shadow: none;
}

/* Remove background from feed searchbar, it overlaps the side of the panel */
searchbar>revealer>box {
    background: none;
}

gridview>child,masonryview>child {
    background: none;
    border-radius: 14px;
}

gridview picture,masonryview picture {
  background: rgb(0,0,0);
  border-radius: 0px  0px 12px 12px;
}

/* Change sidebar border of newsreader view to a dark color... */
paned>separator {
    box-shadow: 1px 0 @secondary_sidebar_border_color inset;
}

/* ...and remove the background so its parent can supply one */
paned list {
    background: none;
}

.subscriptions {
    background: none;
}

.subscriptions-link {
    padding: 0;
}

image.success {
    border: 2px @accent-green solid;
    border-radius: 9999px;
    min-height: 26px;
    min-width: 26px;
    margin: 2px;
}
